<p id="notice"><%= notice %></p>
<%= link_to 'CARS', cars_path %>

<h1>Heroes</h1>
<p class=navbar>


<p/>


<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Alias</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= hero.first_name %></td>
        <td><%= hero.last_name %></td>
        <td><%= hero.alias %></td>
        <td><%= hero.address %></td>
        <td><%= hero.city %></td>
        <td><%= hero.state %></td>
        <td><%= hero.car.name %></td>
        <td><%= link_to 'Show', hero %></td>
        <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
        <td><%= link_to 'Remove', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
