<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @hero.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @hero.last_name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @hero.alias %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hero.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hero.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hero.state %>
</p>

<p>
  <strong>Car:</strong>
  <%= @hero.car.name %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
